// タップ時のハイライト無効
@mixin tap-highligh-none() {
  -webkit-tap-highlight-color: transparent;
}

// 入力エリア（textareaにも使える）
@mixin input() {
  display: inline-block;
  width: auto;
  background-color: $color-white;
  border: 1px solid $color-main;
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: 1rem;
  line-height: 1.5;
  &:focus {
    box-shadow: 0 0 0 .1rem rgba($color-main, .3);
  }
  &:disabled {
    background-color: rgba($color-dark, .1);
  }
}

@mixin button() {
  display: inline-block;
  width: auto;
  background-color: $color-main;
  border: 1px solid $color-main;
  border-radius: .25rem;
  padding: .25rem .5rem;
  color: $color-light;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  white-space: nowrap;
  @include tap-highligh-none();
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
  &:hover {
    background-color: darken($color-main, 10%);
    border-color: darken($color-main, 10%);
  }
  &:disabled {
    text-decoration: line-through;
  }
}

@mixin button-outline() {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  text-align: center;
  padding: .25rem .5rem;
  color: $color-main;
  border: 1px solid $color-main;
  border-radius: .25rem;
  line-height: 1.5;
  white-space: nowrap;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  &:hover {
    background-color: $color-main;
    color: $color-light;
  }
}

@mixin button-light() {
  display: inline-block;
  text-align: center;
  padding: .25em .5em;
  border: 1px solid rgba($color-light, .3);
  border-radius: .25rem;
  color: $color-light;
  white-space: nowrap;
  @include tap-highligh-none();
  transition: all .5s ease-in-out;
  &:hover {
    box-shadow: 0 0 7rem rgba($color-light, .7);
  }
}

// 記事内容のスタイル
@mixin article-typography() {
  h1, h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding: .5rem;
    background-color: rgba($color-main, .1);
    border-radius: .25rem;
  }
  h3 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    padding: .5rem;
    border-bottom: .1rem solid rgba($color-main, .3);
  }
  h4 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-bottom: .25rem;
  }
  h5, h6 {
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: .25rem;
  }
  p {
    padding: .25rem;
    line-height: 1.8;
  }
  a {
    text-decoration: underline;
    color: $color-main;
  }
  ul {
    list-style: circle;
  }
  ol {
    list-style: disc;
  }
  ul, ol {
    padding-left: 1.5rem;
    line-height: 1.8;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  p {
    code {
      font-family: $font-family;
      background-color: rgba($color-dark, .1);
      padding: 0 .25rem;
      border-radius: .25rem;
    }
  }
  pre {
    code {
      font-family: $font-family-code;
      margin-top: .5rem;
      margin-bottom: 1rem;
      padding: .25rem;
      border-radius: .25rem;
    }
  }
  table {
    background-color: rgba($color-gray, .5);
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
    border-radius: .25rem;
    th {
      background-color: $color-dark;
      color: $color-light;
      font-weight: bold;
      padding: .5rem;
    }
    td {
      background-color: $color-light;
      padding: .5rem;
    }
  }
}

@mixin background-gradient($keyframe) {
  background: linear-gradient(
    -45deg,
    lighten($color-main, 20%),
    lighten($color-main, 10%),
    lighten($color-accent, 20%),
    lighten($color-accent, 10%)
  );
  background-size: 400% 400%;
  animation: $keyframe 10s ease;
  background-attachment: fixed;
  animation-fill-mode: forwards;
}
