// 白・黒・グレー
$color-light: #fefefe;
$color-white: #ffffff;
$color-dark: #252525;
$color-black: #000000;

// 色
$color-main: #009688;
$color-sub: #00897B;
$color-accent: #FFC107;
$color-link: $color-main;
$color-danger: #ff4444;

// レスポンシブ
$width-small: 960px; // 小さい画面の境界線
$width-large: 1280px; // 大きい画面の境界線

// 余白
$side-space: 15vw;

// フォントファミリー
$font-family: -apple-system, BlinkMacSystemFont, Verdana, Roboto, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$font-family-code: "Monaco", "Consolas", "Courier New", Courier, monospace;
