// ベース
html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: $font-family;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $color-dark;
  background-color: $color-light;
}

// 選択
*::selection {
  background: rgba($color-accent, .3);
}
*::-moz-selection {
  background: rgba($color-accent, .3);
}
